body{
	background: #CCC;
}


/* COMMON */

.description{

	background: #FFF;
	padding: 15px;
}


.head-section{
	
	background: #666;
	height: 150px;

}

.title-section{

	font-size: 20px;
}


.content{

	margin-top: 20px;	

}

.content a{

	text-decoration: none;
}

.tag{

	color: #FFF;
	display: inline-block;
	padding: 0 10px 0 10px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}


.fruit-tag{
	background: orange;
}

.vegetable-tag{
	background: green;
}

.meat-tag{
	background: red;
}



.mark{
	font-size: 20px;
	vertical-align: middle;
}


.fruit-mark{
	color: orange;
}

.vegetable-mark{
	color: green;
}

.meat-mark{
	color: red;
}



.navbar-inverse{
	background-color: #CCC;
	border-color: #CCC; 
}

.navbar-inverse .navbar-nav>li>a {
	color:#000 !important;
	
}


.navbar-inverse .navbar-nav>.active>a{
	background-color: #CCC !important;
	text-decoration: underline;	
}

.navbar-toggle {
	    background-color: #333;
}

.navbar-brand{
	color:#000 !important;
}